:root {
    --color: #e62429;
    --txt-color: #ffff;
    
  }
  
  #div1 {
    background-color: var(--color);
    color: var(--main-txt-color);
    padding: var(--main-padding);
  }


.btn-left-top:before
{
    top: 12px; 
    -webkit-transform-origin: 54% top;
    -ms-transform-origin: 54% top;
    transform-origin: 46% top;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);    
}

.btn-center{
    background: var(--color);
    width:2rem;
    color:#ffff;
    font-weight:bold;
    font-size:14px;
    text-transform: uppercase;
    position:relative;
    top:-18.5px;
    padding:14.5px 7px;
    margin-top:-2rem;
}

.button{
    width:10rem;
}

.button:hover{
    cursor:pointer;
}

.btn-bottom:before
{
    bottom: 12px;
    -webkit-transform-origin: 54% bottom;
    -ms-transform-origin: 54% bottom;
    transform-origin: 54% bottom;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);    
}

.btn
{
    width: 1.5rem;
    height: 2.9rem;
    display: inline-block;
    position: relative;    
    color: #ffff;
    overflow: hidden;
    padding: 2px;
}

.btn:before
{
    content:'';
    position: absolute; 
    right: -500%;
    width: 1100%;
    height: 1100%;
    background: var(--color);     
    z-index: 1;
}

.comic_container{
    
    padding:5rem 4.5rem;
    margin-top:1rem;
    border:1px solid white;
    width:100%;
    display:grid;
    grid-gap:1.2rem;
    grid-template-columns: repeat(6, 1fr)
}

.card_body{
    height: 8rem;
    overflow: hidden!important;
    padding: 0 1rem;
    color: #fff;
    font-size: 0.8rem;
}
.comic_card{
    background-color:black;
    
}


.filter{
    margin-top:2rem;
    text-align:center;
}

.filter_params{
    display:flex;
    padding:0;
    list-style-type: none;
    justify-content: center;
}

#submitBtn{
    margin-top:1rem;
    background-color:var(--color);
    height:2rem;
    width:8rem;
    color:#fff;
    border:none;
}

.date_input{
    height:2rem;
    padding:1rem;
}

/* .captain_banner{
    background-color:#d1d1d1;
    background-repeat:no-repeat;
    height:20rem;
    background-size: cover;
    background-position: 50% 30%;
} */

.captain_comics_cont{
    padding:3rem;
}

.img_container img{
    border-bottom:4px solid var(--color);
    height:34vh;
    width:100%;
}

.captain_card{
    padding: 0 0.5rem;
    font-size:0.8rem;
  
}

.captain_card:hover{
    position:relative;
    top:-0.1rem;
    cursor:pointer;
    color: var(--color);
}


.cap_title{
    font-weight:bold;
}

.cap_date{
    margin-top:-0.5rem;
    font-size:0.7rem;
}



.captain_img img{
    height:100%;
    width:100%;
}


.captain_comics{
    display:grid;
    grid-gap:1rem;
    grid-template-columns: repeat(5, 1fr)
}


@media (max-width: 1024px){
    .comic_container{
    
        padding:0rem 1.5rem;
        grid-gap:1rem;
    }

    .img_container img{
        height:18vh;
    }
}

@media (max-width: 768px){
    .comic_container{
    
        padding:5rem 1rem;
        grid-gap:1rem;
        grid-template-columns: repeat(4, 1fr)
    }

    
}

@media (max-width: 420px){
    .comic_container{
    
        padding:2rem 1rem;
        grid-gap:1rem;
        grid-template-columns: repeat(2, 1fr)
    }

    .card_body{
        font-size:0.8rem;
    }

    .captain_comics{
        
        grid-gap:0.3rem;
        grid-template-columns: repeat(2, 1fr)
    }

    .captain_comics_cont{
        padding:1rem;
    }
    
}